<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        
            
        
        <div class="main-header">
            <div class="logo">
                 <img src="/images/logo-mercado-liebre.svg"  alt="Logo mercado liebre"><a href="/"></a>
            </div>
            <form action="/" method="get" class="search-bar">
            
                <input type="search" placeholder="Buscar productos, marcas" class="barra"> 
                <i class="fa-solid fa-magnifying-glass"></i>
           
            </form>
            <p class="compra">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <div class="elnav">
            <ul>
                <li><a href="#"></a><a>Ofertas</a></li>
                <li><a href="#"></a><a>Tiendas Oficiales</a></li>
                <li><a href="#"></a><a>Vender</a></li>
                <li><a href="#"></a><a>Ayuda</a></li>
            </ul>
            <ul>

                <li class="nav"><a href="./register"> Creá tu cuenta
                        <i class="fa-solid fa-address-card"></i>
                    </a></li><br>
                <li class="nav"></li>
                <a href="./login"> Ingresá
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                </a><br>
                <li class="nav"><a href="#"></a><a>
                        Mis Compras
                        <i class="fa-solid fa-basket-shopping"></i>
                    </a></li>

            </ul>
        </div>
        <div class="burger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <section class="Banner">
        <img class="banner" src="/images/img-home-banner.jpg" alt="Banner">
    </section>
    <main>
        <section>
            <p class="titular">Basado en tu última visita</p>
            <div class="productos">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="item">
                        <i class="fas fa-truck"></i>
                        <div class="flex">
                            <p class="precio">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>

                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="item">
                        <i class="fas fa-truck"></i>
                        <div class="flex">
                            <p class="precio">$230.000</p>
                            <p class="descuentos">20% off</p>
                        </div>

                        <p class="descripciones">MackBook Pro 2019</p>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="item">
                        <i class="fas fa-truck"></i>
                        <div class="flex">
                            <p class="precio">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>

                        <p class="descripciones">Samsung Galaxy S10</p>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="item">
                        <i class="fas fa-truck"></i>
                        <div class="flex">
                            <p class="precio">$23.200</p>
                            <p class="descuentos">5% off</p>
                        </div>

                        <p class="descripciones">SmartTv Samsung 43"</p>
                </article>
            </div>
        </section>
        <section>
            <p class="titular">Sección de Ofertas</p>
            <div class="productos">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="item">
                        <i class="fas fa-truck"></i>
                        <div class="flex">
                            <p class="precio">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>

                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="item">
                        <i class="fas fa-truck"></i>
                        <div class="flex">
                            <p class="precio">$230.000</p>
                            <p class="descuentos">20% off</p>
                        </div>

                        <p class="descripciones">MackBook Pro 2019</p>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="item">
                        <i class="fas fa-truck"></i>
                        <div class="flex">
                            <p class="precio">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>

                        <p class="descripciones">Samsung Galaxy S10</p>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="item">
                        <i class="fas fa-truck"></i>
                        <div class="flex">
                            <p class="precio">$23.200</p>
                            <p class="descuentos">5% off</p>
                        </div>

                        <p class="descripciones">SmartTv Samsung 43"</p>
        </section>
    </main>
    <footer>
        <section>
            <ul><div class="elfooter">
                <div class="el-footer-hijo">
                <i class="fa-solid fa-credit-card"></i>
                <strong>
                    <li>Pagá con tarjeta o en efectivo</li>
                </strong>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                    <div class="el-footer-hijo">
                <i class="fa-solid fa-gift"></i>
                <strong>
                    <li>Envío gratis desde $ 2.500</li>
                </strong>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                    <div class="el-footer-hijo">
                <i class="fa-solid fa-user-shield"></i>
                <strong>
                    <li>Seguridad, de principio a fin</li>
                </strong>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                    </div>
                </div>
                <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
            </ul>
        </section>
    </footer>
</body>

</html>