<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/login.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Register</title>
</head>

<body>
    <header>



        <div class="main-header">
            <a href="/"> <div class="logo">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre"></a>
            </div>
            <div class="search-bar">
                <form>
                <input type="search" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>
            <p class="compra">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <div class="elnav">
            <ul>
                <li><a href="#"></a><a>Ofertas</a></li>
                <li><a href="#"></a><a>Tiendas Oficiales</a></li>
                <li><a href="#"></a><a>Vender</a></li>
                <li><a href="#"></a><a>Ayuda</a></li>
            </ul>
            <ul>

                <li class="nav"><a href="./register"> Creá tu cuenta
                        <i class="fa-solid fa-address-card"></i>
                    </a></li><br>
                <li class="nav"></li>
                <a href="./login"> Ingresá
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                </a><br>

                <li class="nav"><a href="#"></a><a>
                        Mis Compras
                        <i class="fa-solid fa-basket-shopping"></i>
                    </a></li>

            </ul>
        </div>
        <div class="burger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <main>
        <form action="/" method="get" class="formulario">
            <input class="inputs" type="text" name="Nombre:" placeholder="Nombre Y Apellido"  pattern=".{5,}" title="Cinco o mas caracteres">
            <input class="inputs" type="text" name="Nombre de usuario:" placeholder="Nombre de usuario" required  pattern=".{5,}" title="Cinco o mas caracteres">
            <input class="inputs" type="email" name="email" id="email" placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <label for="fecha-de-nacimiento">
                <p>Fecha de nacimiento</p>
            </label>
            <input type="date" name="fecha de nacimiento" id="fecha-de-nacimiento" class="fecha" required>
            <input class="inputs" type="text" name="Domicilio" placeholder="Domicilio" required minlength="5">
            <div class="perfil-padre">
            <p>Perfil de usuario</p><br>
                <input type="radio" name="perfil" id="comprador" value="comprador" class="perfil-hijo">
                <label for="radio" id="comprador">Comprador</label>
                <input type="radio" name="perfil" id="vendedor" value="vendedor" class="perfil-hijo">
                <label for="radio" id="vendedor">Vendedor</label>
                <div class="caja"></div>
            </div>
            <div class="caja">
                <p> Categorías de interés</p><br>
                <div class="categorias-padre">
                    <input type="checkbox" name="interes" id="electro" class="categorias" value="electro">
                    <label class="categorias" for="electro" id="electro">Electro</label>
                    <input type="checkbox" name="interes" id="moda" class="categorias" value="moda">
                    <label class="categorias" for="moda" id="moda">Moda</label>
                    <input type="checkbox" name="interes" id="hogar" class="categorias" value="hogar">
                    <label class="categorias" for="hogar" id="hogar">Hogar</label>
                    <input type="checkbox" name="interes" id="jugueteria" class="categorias" value="jugueteria">
                    <label class="categorias" for="jugueteria" id="jugueteria">Jugueteria</label>
                    <input type="checkbox" name="interes" id="vidaSana" class="categorias" value="vidaSana">
                    <label class="categorias" for="vidaSana" id="vidaSana">Vida Sana</label><br>
                </div>
            </div>
            <div class="caja"> <label for="avatar">
                    <p>Seleccione Foto de Usuario</p>
                </label>
                <input type="file" accept=".jpg, .png" name="avatar" id="avatar" class="subir-archivo">
            </div>
            <input class="inputs" type="password" name="password" id="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Debe contener al menos una mayuscula,una minuscula y un numero">>
            <input class="inputs" type="password" name="passwordconfirm" id="passwordconfirm"
                placeholder="Password Confirm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Debe contener al menos una mayuscula,una minuscula y un numero">
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>


        </form>
    </main>
    <footer>
        <section>
            <ul>
                <ul>
                    <div class="elfooter">
                        <div class="el-footer-hijo">
                            <i class="fa-solid fa-credit-card"></i>
                            <strong>
                                <li>Pagá con tarjeta o en efectivo</li>
                            </strong>
                            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                                puntos de pago. ¡Y siempre es seguro!</p>
                        </div>
                        <div class="el-footer-hijo">
                            <i class="fa-solid fa-gift"></i>
                            <strong>
                                <li>Envío gratis desde $ 2.500</li>
                            </strong>
                            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                                productos. Es un beneficio de Mercado Puntos.</p>
                        </div>
                        <div class="el-footer-hijo">
                            <i class="fa-solid fa-user-shield"></i>
                            <strong>
                                <li>Seguridad, de principio a fin</li>
                            </strong>
                            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                                porque estás siempre protegid@.</p>
                        </div>
                    </div>
                    <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
                </ul>
        </section>
    </footer>
</body>

</html>